<h2 style = "margin-top: 0;"> {{data.project.title}} </h2>
<mat-card-content>
  <p style = "font-size: 16px;">{{data.project.description}}</p>

  <h3> Contributors </h3>

  <mat-nav-list>
  <mat-list-item *ngFor = "let cont of data.project.contributors">{{cont}}</mat-list-item>
  </mat-nav-list>

  <h3> Links </h3>

  <mat-nav-list>
  <mat-list-item *ngFor = "let link of data.project.links">{{link}}</mat-list-item>
  </mat-nav-list>

</mat-card-content>

<mat-card-actions *ngIf = "data.admin; else publicActions">
  <button color = "primary" mat-flat-button>Approve</button>
  <button color = "warn" mat-flat-button>Send Feedback</button>
</mat-card-actions>

<ng-template #publicActions>
  <mat-card-actions>
    <button color = "primary" mat-flat-button (click) = close()>Close</button>
  </mat-card-actions>
</ng-template>
