.header {
  margin: 20px;
}

.mat-expansion-panel {
  margin: 0 auto;
  width: 60vw;
}

.mat-expansion-panel-body {
  padding: 0;
}

svg {
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .mat-expansion-panel {
    width: 90vw;
  }
}
