<div class="main--content">
  <div class="header">
    <p style = "text-align: center">
      Below are a list of projects submitted by UWICS members. Before they can be displayed publicly, they must be approved
      here.
    </p>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Criteria for accepting project requests
      </mat-expansion-panel-header>

      <mat-nav-list>
        <mat-list-item>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M16.5 12c1.38 0 2.49-1.12 2.49-2.5S17.88 7 16.5 7C15.12 7 14 8.12 14 9.5s1.12 2.5 2.5 2.5zM9 11c1.66 0 2.99-1.34 2.99-3S10.66 5 9 5C7.34 5 6 6.34 6 8s1.34 3 3 3zm7.5 3c-1.83 0-5.5.92-5.5 2.75V19h11v-2.25c0-1.83-3.67-2.75-5.5-2.75zM9 13c-2.33 0-7 1.17-7 3.5V19h7v-2.25c0-.85.33-2.34 2.37-3.47C10.5 13.1 9.66 13 9 13z"></path>
          </svg>
          <h4 mat-line>List of Contributors</h4>
          <p mat-line>Credit is given where due</p>

        </mat-list-item>
        <mat-list-item>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M14 2H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm2 16H8v-2h8v2zm0-4H8v-2h8v2zm-3-5V3.5L18.5 9H13z"></path>
          </svg>
          <h4 mat-line>Short Description</h4>
          <p mat-line> 2-3 lines about project</p>
        </mat-list-item>
        <mat-list-item>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path fill="none" d="M0 0h24v24H0V0z"></path>
            <path d="M9.4 16.6L4.8 12l4.6-4.6L8 6l-6 6 6 6 1.4-1.4zm5.2 0l4.6-4.6-4.6-4.6L16 6l6 6-6 6-1.4-1.4z"></path>
          </svg>
          <h4 mat-line>Links to project online </h4>
          <p mat-line> Github, Bitbucket, etc.</p>
        </mat-list-item>

      </mat-nav-list>
    </mat-expansion-panel>
  </div>

  <div class="pending">

    <mat-card *ngFor = "let project of pending">
      <h4 mat-card-title> {{project.title}} </h4>
      <mat-card-content>

        <p>{{project.desc}}</p>

        <h3>Contributors</h3>
        <p><span *ngFor = "let author of project.contributors">{{author}}, </span></p>

        <h3>Links</h3>
        <mat-nav-list>
          <mat-list-item *ngFor = "let link of project.links">{{link}}</mat-list-item>
        </mat-nav-list>
      </mat-card-content>

      <mat-card-actions *ngIf = "admin">
        <button color = "primary" mat-flat-button>Approve</button>
        <button color = "warn" mat-flat-button>Send Feedback</button>
      </mat-card-actions>
    </mat-card>

  </div>

</div>


