<mat-card class = "fade">
  <mat-card-title>
    <mat-card-header style = "justify-content: center">{{project.title}}</mat-card-header>
    <mat-card-subtitle>
      <span style = "margin: 3px;" *ngFor = "let cont of project.contributors">{{cont}}   </span>
    </mat-card-subtitle>
  </mat-card-title>
  <mat-divider style = "position: inherit"></mat-divider>
  <div class="main-content">
    <p>{{project.description.slice(0, 200) + "... (Click below to expand)"}}</p>

    <mat-card-actions>
      <button mat-raised-button style = "margin: 10px;" *ngFor = "let icon of project.links">
        Link <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path fill="none" d="M0 0h24v24H0V0z"></path>
          <path d="M9.4 16.6L4.8 12l4.6-4.6L8 6l-6 6 6 6 1.4-1.4zm5.2 0l4.6-4.6-4.6-4.6L16 6l6 6-6 6-1.4-1.4z"></path>
        </svg>
      </button>
      <!--<button color = "primary" mat-flat-button (click) = openDialog()>Read more</button>-->
      <!--<button *ngIf = "admin" color = "primary" mat-flat-button>Approve</button>-->
      <!--<button *ngIf = "admin" color = "warn" mat-flat-button>Send Feedback</button>-->
    </mat-card-actions>
  </div>
</mat-card>
