@import '../../../styles/transition.scss';

mat-card {
  width: 30vw;
  margin: 15px;
  display: inline-block;
}
mat-card-subtitle {
  margin-top: 5px !important;
  //text-align: left;
  display: flex;
  justify-content: center;
}
p {text-align: justify;}



@media screen and (max-width: 768px) {
  mat-card-title {text-align: center !important;}
  mat-card {width: 80vw;}
  mat-card-actions {
    display: flex;
    flex-direction: column;
  }

  .main-content {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-content > p {
    text-align: left;
    width: 60%;
  }
}
