<h3 mat-dialog-title>About UWICS-Official</h3>

<div id = "website-info" mat-dialog-content>
  <p>
    Website made by:
    <a href = "https://github.com/Qarun-Qadir-Bissoondial" target = "_blank">Qarun Qadir Bissoondial</a>
  </p>
  <p>Photos by: Lorem Ipsum</p>
  <p>For reporting bugs, suggesting features or getting in contact with the developer(s), click
    <a href="mailto:uwics.webmaster@gmail.com">here</a>.
  </p>
  <p>Version: {{version_num}}</p>
</div>

<div mat-dialog-actions>
  <button color = "primary" mat-flat-button (click) = "close()">Close</button>
</div>
