<div class="header">
  <h1>Events and Meetings</h1>
  <p>
    Lorem ipsum dolor sit amet, tempor expetendis eum no, vim te errem graecis probatus. Ut duo audire adipiscing
    vituperatoribus. Mea at eius postea fabellas, ei prompta mandamus quo. Ad cum quem tollit, justo oblique cum no.
    Ex nam convenire constituam, fuisset phaedrum ei sed.
  </p>
</div>

<mat-divider style = "margin-bottom: 20px;"></mat-divider>

<!--<mat-vertical-stepper id = "stepper" #stepper>-->
  <!--<mat-step [stepControl]="firstFormGroup">-->
    <!--<ng-template matStepLabel>Step 1 label</ng-template>-->
    <!--<p>Step 1</p>-->
  <!--</mat-step>-->
  <!--<mat-step [stepControl]="secondFormGroup">-->
    <!--<ng-template matStepLabel>Step 2 label</ng-template>-->
    <!--<p>Step 2</p>-->
  <!--</mat-step>-->
  <!--<mat-step>-->
    <!--<ng-template matStepLabel>Done</ng-template>-->
    <!--You are now done.-->
  <!--</mat-step>-->
<!--</mat-vertical-stepper>-->
