<div class="wrapper">

  <div class="header">
    <h1>Meet the Executives!</h1>
    <p>
      Lorem ipsum dolor sit amet, tempor expetendis eum no, vim te errem graecis probatus. Ut duo audire adipiscing
      vituperatoribus. Mea at eius postea fabellas, ei prompta mandamus quo. Ad cum quem tollit, justo oblique cum no.
      Ex nam convenire constituam, fuisset phaedrum ei sed.
    </p>
  </div>

  <mat-divider></mat-divider>

  <div class="all-execs">

    <div id = "pres-card" class="mat-typography" style = "max-width: 700px; margin: 0 auto;">
      <p class = "mat-headline">Exec name</p>
      <p>Exec position</p>
      <div style = "display: flex; align-items: center; justify-content: center;">
        <img src="../../../assets/images/placeholder.jpg" alt="Photo of a Shiba Inu">
      </div>

      <p style = "margin-top: 10px;">
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>

      <button color = "primary" mat-flat-button>LIKE</button>
      <button color = "primary" mat-flat-button>SHARE</button>

    </div>

      <app-exec-card></app-exec-card>
      <app-exec-card></app-exec-card>
      <app-exec-card></app-exec-card>
      <app-exec-card></app-exec-card>
      <app-exec-card></app-exec-card>
      <app-exec-card></app-exec-card>
      <app-exec-card></app-exec-card>
      <app-exec-card></app-exec-card>

  </div>
</div>
