<div (window:resize)="onResize($event)" style = "display: inline-block;" id = "wrapper" >
  <mat-expansion-panel *ngIf = "small_screen; else cardinfo">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Exec name
      </mat-panel-title>
      <mat-panel-description>
        Exec title
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div *ngIf = "!small_screen; else cardinfo"></div>

  </mat-expansion-panel>

  <ng-template #cardinfo>
    <div class="exec-info mat-typography">
      <p *ngIf = "!small_screen" class = "mat-headline">Exec name</p>
      <p *ngIf = "!small_screen">Exec position</p>
      <div>
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      </div>

      <p style = "margin-top: 10px;">
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>

      <button color = "primary" mat-flat-button>LIKE</button>
      <button color = "primary" mat-flat-button>SHARE</button>

    </div>
  </ng-template>
</div>





