.example-card {
  max-width: 400px;
  margin: 15px;
  box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
