mat-expansion-panel {
  width: 80vw;
}

.exec-info {
  max-width: 30vw;
  text-align: center;
  padding: 15px 20px 0 20px;
  margin-bottom: 15px;
}

img {
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  img {
    margin: 0 auto;
    width: 45vw;
    height: 45vw;
  }

  .exec-info {
    max-width: 100vw;
  }
}
