mat-expansion-panel { width: 80vw; }

img {
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
}

.exec-info {
  max-width: 25vw;
  text-align: center;
  margin: 15px;
}


@media screen and (max-width: 768px) {
  img {
    width: 45vw;
    height: 45vw;
  }

  .exec-info { max-width: 100%; }
}
