<div id="page-content">
  <app-page-header [text]="header_text"></app-page-header>

  <div class="main-content">
    <app-about-card
      *ngFor = "let content of all_content"
      [content] = "content"
      [num] = "all_content.indexOf(content)">
    </app-about-card>
  </div>
</div>

<div class="morals">
  <div class="morals--header">
    <h1>What we stand for</h1>
    <p> Sometimes, we focus on more than technology</p>
  </div>

  <div class="morals--content">

    <mat-expansion-panel class = "fade">
      <mat-expansion-panel-header>
        Title: subtitle
      </mat-expansion-panel-header>

      Lorem ipsum dolor sit amet, tempor expetendis eum no, vim te errem graecis probatus. Ut duo audire adipiscing
      vituperatoribus. Mea at eius postea fabellas, ei prompta mandamus quo. Ad cum quem tollit, justo oblique
      cum no. Ex nam convenire constituam, fuisset phaedrum ei sed.
    </mat-expansion-panel>

    <mat-expansion-panel class = "fade">
      <mat-expansion-panel-header>
        Title: subtitle
      </mat-expansion-panel-header>

      Lorem ipsum dolor sit amet, tempor expetendis eum no, vim te errem graecis probatus. Ut duo audire adipiscing
      vituperatoribus. Mea at eius postea fabellas, ei prompta mandamus quo. Ad cum quem tollit, justo oblique
      cum no. Ex nam convenire constituam, fuisset phaedrum ei sed.
    </mat-expansion-panel>

    <mat-expansion-panel class = "fade">
      <mat-expansion-panel-header>
        Title: subtitle
      </mat-expansion-panel-header>

      Lorem ipsum dolor sit amet, tempor expetendis eum no, vim te errem graecis probatus. Ut duo audire adipiscing
      vituperatoribus. Mea at eius postea fabellas, ei prompta mandamus quo. Ad cum quem tollit, justo oblique
      cum no. Ex nam convenire constituam, fuisset phaedrum ei sed.
    </mat-expansion-panel>

    <mat-expansion-panel class = "fade">
      <mat-expansion-panel-header>
        Title: subtitle
      </mat-expansion-panel-header>

      Lorem ipsum dolor sit amet, tempor expetendis eum no, vim te errem graecis probatus. Ut duo audire adipiscing
      vituperatoribus. Mea at eius postea fabellas, ei prompta mandamus quo. Ad cum quem tollit, justo oblique
      cum no. Ex nam convenire constituam, fuisset phaedrum ei sed.
    </mat-expansion-panel>

  </div>
</div>

<app-footer></app-footer>
