<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

  <header class="mdl-layout__header">

    <div class="mdl-layout__header-row">

      <span class="mdl-layout-title">The UWICS</span>
      <div class="mdl-layout-spacer"></div>

      <nav id = "navbar" class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link mdl-js-ripple-effect">
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect">Home</button>
        </a>
        <a class="mdl-navigation__link">
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect">Executives</button>
        </a>
        <a class="mdl-navigation__link">
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect">Meetings and Events</button>
        </a>
        <a class="mdl-navigation__link">
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect">Projects</button>
        </a>
        <a class="mdl-navigation__link">
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect">Directions</button>
        </a>
        <a class="mdl-navigation__link">
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect">About</button>
        </a>

      </nav>
    </div>
  </header>

  <div class="android-drawer mdl-layout__drawer">
    <div class="mdl-layout-title"></div>
    <nav class="mdl-navigation">
      <div class="android-drawer-separator"></div>
      <a class="mdl-navigation__link">Home</a>
      <a class="mdl-navigation__link">Executives</a>
      <a class="mdl-navigation__link">Meetings and Events</a>
      <a class="mdl-navigation__link">Projects</a>
      <a class="mdl-navigation__link">Directions</a>
      <a class="mdl-navigation__link">About</a>
      <div class="android-drawer-separator"></div>
    </nav>
  </div>

  <main class="mdl-layout__content">
    <div class="page-content">

      <router-outlet></router-outlet>

    </div>
  </main>
</div>




