.android-drawer-separator {
  height: 1px;
  background-color: #dcdcdc;
  margin: 8px 0;
}

#navbar .mdl-navigation__link {
  padding: 15px;
}

#navbar .mdl-navigation__link button {
  padding-left: 5px;
  padding-right: 5px;
  color: white;
}