

.fake-icon {
  height: 24px;
  padding: 10px;
  border-radius: 50%;
}

#nav-logo {
  width: 175px;
  height: 175px;
  background: url('../assets/images/logo.png') center top no-repeat;
  background-size: cover;
  margin: 0 auto;
}

.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  flex: 1 0 auto;
}

.example-fill-remaining-space {
  flex: 1 1 auto;
}
mat-sidenav {
  width: 300px;
}


footer {
  font-size: 14px;
}

:host {
  display: flex;
  overflow: hidden;
  main {
    position: relative;
  }
  /deep/ router-outlet ~ * {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 425px) {
  mat-sidenav {
    width: 55vw;
  }
}
