<app-page-header [text]="header_text" [img_link]= link></app-page-header>

<div class="all-execs">

  <div id = "pres-card" class="mat-typography">
    <p class = "mat-headline">Exec name</p>
    <p>Exec position</p>
    <div style = "display: flex; align-items: center; justify-content: center;">
      <img src="../../../assets/images/placeholder.jpg" alt="Photo of a Shiba Inu">
    </div>

    <p style = "margin-top: 10px;">
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>

    <button color = "primary" mat-flat-button>More Info</button>

  </div>

  <app-exec-card></app-exec-card>
  <app-exec-card></app-exec-card>
  <app-exec-card></app-exec-card>
  <app-exec-card></app-exec-card>
  <app-exec-card></app-exec-card>
  <app-exec-card></app-exec-card>
  <app-exec-card></app-exec-card>
  <app-exec-card></app-exec-card>

</div>

<app-footer></app-footer>
