@import '../../../styles/transition';

.meetings {
  margin: 0 0 15px 0;
  text-align: center;
}

.meetings--text{
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px 0 16px;
}

mat-expansion-panel {
  border-radius: 0;
}


