<app-page-header class = "fade" [img_link] = link [text] = header_text></app-page-header>

<div class="meetings">

  <div class="meetings--text">
    <h1 style = "margin-bottom: 0;">Club Meetings</h1>
    <p style = "font-weight: 600; margin-top: 0;">
      Meeting location: FST 2nd Floor, Computer Science Lab 1 <br>
      Meeting time: 2:00pm - 4:00pm
    </p>
  </div>

  <div class = "meetings--content">
    <div class="row">
      <app-home-card [cardinfo]="exec_text"></app-home-card>
      <app-home-card [cardinfo]="events_text"></app-home-card>
    </div>
    <div class="row">
      <app-home-card [cardinfo]="project_text"></app-home-card>
      <app-home-card [cardinfo]="about_text"></app-home-card>
    </div>

  </div>

</div>

<app-footer></app-footer>

