<div class="wrapper">

  <div class="header">
    <h1>Meet the Executives!</h1>
    <p>Lorem ipsum dolor sit amet, tempor expetendis eum no, vim te errem graecis probatus. Ut duo audire adipiscing vituperatoribus. Mea at eius postea fabellas, ei prompta mandamus quo. Ad cum quem tollit, justo oblique cum no. Ex nam convenire constituam, fuisset phaedrum ei sed.</p>
  </div>

  <mat-divider></mat-divider>

  <app-exec-card id = "pres"></app-exec-card>

  <div class="row">
    <app-exec-card></app-exec-card>
    <app-exec-card></app-exec-card>
    <app-exec-card></app-exec-card>
  </div>

  <div class="row">
    <app-exec-card></app-exec-card>
    <app-exec-card></app-exec-card>
    <app-exec-card></app-exec-card>
  </div>

  <div class="row">
    <app-exec-card></app-exec-card>
    <app-exec-card></app-exec-card>
  </div>

</div>


