.wrapper {
  text-align: center;
}

.header p {
  width: 75vw;
  margin: 10px auto;
}

.all-execs {
  margin: 20px 0 20px 0;
}

mat-card {
  transition: all 0.5s ease;
}

.mat-card-content img {
  height: 400px;
}

.mat-card-actions button {
  margin: 0 10px 0 10px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

@media screen and (min-width: 1150px) {
  .mat-card-content img {
    width: 40vw;
  }
}

