<div (window:resize)="onResize($event)" class="adjust">
  <ng-container *ngIf = "small_screen; else desktopview;">
  <mat-expansion-panel *ngFor="let event of events">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{event.title}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <img [src]="event.image"><br/>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="openDialog(event)">More Info</button>
      </mat-card-actions>
    </mat-expansion-panel>
    </ng-container>
    <ng-template #desktopview>
      <mat-card style="display:inline-block;" *ngFor = "let event of events">
        <img mart-card-image [src]="event.image">
        <mat-card-actions>
          <button  mat-raised-button color="primary" (click)="openDialog(event)">More Info</button>
        </mat-card-actions>
      </mat-card>

    </ng-template>
</div>
