.adjust{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  .card-scroll{
    display: inline-block;
  }
}
img{
  width: 400px;
  height: auto;
}
@media screen and (max-width: 768px) {
  img {
    display: block;
    width: 70vw;
    height: 90vw;
  }
}
