@import '~@angular/material/theming';
@import './styles/transition';
@include mat-core();

$dark-primary: mat-palette($mat-light-blue, 800);
$dark-accent:  mat-palette($mat-grey, 800);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent);

.uwics-dark {
  @include angular-material-theme($dark-theme);
}

.uwics-dark snack-bar-container, .uwics-dark .mat-simple-snackbar-action {
  background: #0277bd !important;
  color: white !important;
}

.uwics-dark a { color: white; }
.uwics-dark svg { fill: white; }

::-webkit-scrollbar { width: 0; }

.mat-card-actions { margin-bottom: 0 !important; }

strong { font-weight: 500; }
app-project-review .mat-expansion-panel-body { padding: 0; }
button, svg { transition: all 0.3s ease; }
