@import '~@angular/material/theming';
@import './styles/transition';
@include mat-core();

// TODO - Fix issues on Chrome Lighthouse
// TODO - Add in project functionality on the public view
// TODO - Add in project approval on the admin view
// TODO - Change links in ProjectInfo model from a string to a Link Model

$dark-primary: mat-palette($mat-light-blue, 800);
$dark-accent:  mat-palette($mat-grey, 800);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

.uwics-dark {
  @include angular-material-theme($dark-theme);
}

.uwics-dark snack-bar-container, .uwics-dark .mat-simple-snackbar-action {
  background: #0277bd !important;
  color: white !important;
}

.uwics-dark a {
  color: white;
}

.uwics-light snack-bar-container, .uwics-light .mat-simple-snackbar-action  {
  background: #00BCD4 !important;
  color: white !important;
}

.uwics-light a {
  color: black;
}

svg { fill: white; }

::-webkit-scrollbar {
  width: 0;
}

.mat-tab-labels {
  justify-content: center;
}

strong {
  font-weight: 500;
}

app-project-review .mat-expansion-panel-body {
  padding: 0;
}

button, svg {
  transition: all 0.3s ease;
}
