.android-drawer .mdl-layout-title {
  padding-left: 10px;
  padding-right: 10px;
  background: url('assets/images/logo.webp') center no-repeat;
  background-size: 65%;
  height: 150px;
}

.android-wear {
  display: inline-block;
  width: 160px;
  margin-right: 32px;
}

.android-wear .android-screen-image {
  width: 40%;
  z-index: 1;
}

.android-wear-section {
  position: relative;
  background: url('assets/images/wear.webp') center top no-repeat;
  background-size: cover;
  height: 800px;
}

.android-wear-band {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #37474f;
}

.android-wear-band-text {
  padding: 24px;
  margin: 0 auto;
  color: white;
}

.android-wear-band-text p {
  padding-top: 8px;
}

.android-link {
  text-decoration: none;
  color: #8bc34a !important;
}

.android-link:hover {
  color: #7cb342 !important;
}

.android-link .material-icons {
  position: relative;
  top: -1px;
  vertical-align: middle;
}

.android-alt-link {
  text-decoration: none;
  color: #64ffda !important;
  font-size: 16px;
}

.android-alt-link:hover {
  color: #00bfa5 !important;
}

.android-alt-link .material-icons {
  position: relative;
  top: 6px;
}

.android-customized-section {
  text-align: center;
}

.android-customized-section-text {
  margin-left: auto;
  margin-right: auto;
  padding: 80px 16px 0 16px;
}

.android-customized-section-text p {
  padding-top: 16px;
}

.android-more-section {
  padding: 80px 0;
  max-width: 1044px;
  margin-left: auto;
  margin-right: auto;
}

.android-more-section .android-section-title {
  margin-left: 12px;
  padding-bottom: 24px;
}

.android-card-container .mdl-card__media {
  overflow: hidden;
  background: transparent;
}

.android-card-container .mdl-card__media img {
  width: 100%;
}

.android-card-container .mdl-card__title {
  background: transparent;
  height: auto;
}

.android-card-container .mdl-card__title-text {
  color: black;
  height: auto;
}

.android-card-container .mdl-card__supporting-text {
  height: auto;
  color: black;
  padding-bottom: 56px;
}

.android-card-container .mdl-card__actions {
  position: absolute;
  bottom: 0;
}

.android-card-container .mdl-card__actions a {
  border-top: none;
  font-size: 16px;
}

.android-footer {
  position: relative;
}

.android-footer a:hover {
  color: #8bc34a;
}

.android-footer .mdl-mega-footer--bottom-section a {
  margin-right: 2em;
}

.android-link-menu:hover {
  cursor: pointer;
}

#view-source {
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  margin-right: 40px;
  margin-bottom: 40px;
  z-index: 900;
}

::-webkit-scrollbar {
  width: 0;
}
