@import '~@angular/material/theming';

$pink-primary: mat-palette($mat-pink);
$pink-accent:  mat-palette($mat-amber, A200, A100, A400);
$pink-warn:    mat-palette($mat-deep-orange);
$pink-theme:   mat-light-theme($pink-primary, $pink-accent, $pink-warn);

$pink-background: map_get($mat-pink, 100);
$pink-theme: map_merge(
    $pink-theme, (
    background: map_merge(
        map-get(
            $pink-theme, background),
        (
          background: $pink-background
        )
    )
  )
);

.uwics-pink {
  @include angular-material-theme($pink-theme);
}
