<div class="welcome">
  <div class="welcome--text">
    <h1 id = "heading">Welcome to the UWI Computing Society!</h1>
    <p id = "subheading"> We seek active interest in emerging technology, etc... (More description to come) </p>
    <p>
      <button mat-raised-button color = "primary">
        Want to see some of our members' projects? <mat-icon>chevron_right</mat-icon>
      </button>
    </p>
  </div>
</div>

<div class="next--meeting">
  <div class="next--meeting--text">
    <h1 class="mdl-typography--display-1">Club Meetings</h1>
    <p> Meeting location: <strong>FST 2nd Floor, Computer Science Lab 2</strong> </p>
    <p> Meeting time: <strong>2:00pm - 4:00pm</strong> </p>

    <mat-divider></mat-divider>

    <app-event></app-event>
    <app-event></app-event>
    <app-event></app-event>

    <br>
    <button style = "margin-bottom: 20px;" mat-raised-button color = "primary">
      Want to see all our past sessions? <mat-icon>chevron_right</mat-icon>
    </button>
    <mat-divider></mat-divider>
  </div>
</div>

<p>More text</p>
