<div class="android-wear-section">
  <div class="android-wear-band-text">
    <div class="mdl-typography--display-1 ">Welcome to the UWI Computing Society!</div>
    <p class="mdl-typography--headline">
      We seek active interest in emerging technology, etc... (More description to come)
    </p>
    <p>
      <a class="mdl-typography--font-regular mdl-typography--text-uppercase android-alt-link" href="">
        Want to see some of our members' projects?&nbsp;<i class="material-icons">chevron_right</i>
      </a>
    </p>
  </div>
</div>

<div class="android-customized-section">
  <div class="android-customized-section-text">
    <div class="mdl-typography--display-1">Our goals for everyone</div>

    <p class="mdl-typography--font-light">
      Put the stuff that you care about right on your home screen: the latest news, the weather or a stream of your recent photos.
    </p>
    <a href="" class="android-link mdl-typography--font-light">Customise your phone</a>

  </div>
</div>

<div class="android-more-section">
  <h3 style = "text-align: center">Where our interests lie</h3>
  <div class="android-card-container mdl-grid">

    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
      <div class="mdl-card__media">
        <img src="assets/images/more-from-1.webp">
      </div>

      <div class="card-text">
        <h4 class="mdl-card__title-text">Get going on Android</h4>
        <p class="mdl-typography--font-light mdl-typography--subhead">Four tips to make your switch to Android quick and easy</p>
        <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
          Make the switch
          <i class="material-icons">chevron_right</i>
        </a>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
      <div class="mdl-card__media">
        <img src="assets/images/more-from-4.webp">
      </div>

      <div class="card-text">
        <h4 class="mdl-card__title-text">Create your own Android character</h4>
        <p class="mdl-typography--font-light mdl-typography--subhead">Turn the little green Android mascot into you, your friends, anyone!</p>
        <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
          androidify.com
          <i class="material-icons">chevron_right</i>
        </a>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
      <div class="mdl-card__media">
        <img src="assets/images/more-from-2.webp">
      </div>

      <div class="card-text">
        <h4 class="mdl-card__title-text">Get a clean customisable home screen</h4>
        <p class="mdl-typography--font-light mdl-typography--subhead">A clean, simple, customisable home screen that comes with the power of Google Now: Traffic alerts, weather and much more, just a swipe away.</p>
        <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
          Download now
          <i class="material-icons">chevron_right</i>
        </a>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
      <div class="mdl-card__media">
        <img src="assets/images/more-from-3.webp">
      </div>

      <div class="card-text">
        <h4 class="mdl-card__title-text">Millions to choose from</h4>
        <p class="mdl-typography--font-light mdl-typography--subhead">Hail a taxi, find a recipe, run through a temple – Google Play has all the apps and games that let you make your Android device uniquely yours.</p>
        <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
          Find apps
          <i class="material-icons">chevron_right</i>
        </a>
      </div>
    </div>

  </div>
</div>


<footer class="android-footer mdl-mega-footer">
  <p>Images taken by (Insert the name here)</p>
  <p>Insert Webmasters' information here</p>

  <a class="android-link" href="">Versions</a>
  <a class="android-link" href="">Developers</a>
  <a class="android-link" href="">Privacy Policy</a>
</footer>
