mat-expansion-panel {
  border-radius: 0;
  transition: all 0.5s ease;
}

.welcome {
  position: relative;
  background: url('../../assets/images/header.png') center top no-repeat;
  background-size: cover;
  height: 500px;
}

.welcome--text {
  padding: 0 10px 0 10px;
  position: absolute;
  bottom: 0; left: 0; right: 0;
  background-color: #424242;
  text-align: center;
  color: white;
}

.meetings, .morals {
  margin: 0 0 15px 0;
  text-align: center;
}

.meetings--text{
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px 0 16px;
}


.mat-expansion-panel p{
  width: 75%;
  margin: 10px auto;
}

@media screen and (min-width: 768px) {
  .mat-expansion-panel {
    width: 80vw;
    margin: 0 auto;
  }

  .welcome {
    height: 800px;
  }
}
